/* Common Style  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    background-color: rgb(252, 251, 251);

}

.container {
    max-width: 1600px;
    margin: 0 auto;
    
}


.nav-parents{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.nav-parents .nav-menu {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-parents .nav-menu a {
    text-decoration: none;
    color: black;
}

.nav-menu a:hover {
    color: #30B868;
}

/* Button 1 Css  */
.btn-1 {
    background-color: #30B868;
    padding: 12px 16px;
    color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

.btn-1:hover {
    background-color: #000000;
}


/* Hero section Css */

.hero-section-parents {
    background-image: url('../assets/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 674px;
}

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 32px;
    padding-top: 100px;
}

.hero-section .early-access {
    font-size: 16px;
    color: #30B868;
    background-color: white;
    padding: 8px 14px;
    border-radius: 20px;
}

.hero-section h1 {
    color: white;
    font-size: 72px;
    font-weight: 700;
}

.hero-section h1 .h1-color {
    color: #30B868;
}

.hero-section p {
    color: white;
    font-size: 16px;
    line-height: 24px;
}

.hero-btn button{
    padding: 12px 16px;
    background-color: #30B868;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    margin: 9px;
  
}

.hero-btn .hero-btn-1:hover {
    background-color: #000000;
}

.hero-btn .hero-btn-two {
    background-color: transparent;
    border: 1px solid #ffffff;
    padding: 11px 15px;
    color: #ffffff;
    
}

.hero-btn .hero-btn-two:hover {
    background-color: #30B868;
}

