/* Common Style  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    background-color: rgb(252, 251, 251);

}

.container {
    max-width: 1600px;
    margin: 0 auto;
    
}


.nav-parents{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.nav-parents .nav-menu {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-parents .nav-menu a {
    text-decoration: none;
    color: black;
}

.btn-1 {
    background-color: #30B868;
    padding: 12px 16px;
    color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 4px;
    font-weight: bold;
}