/* Common Style  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    background-color: rgb(252, 251, 251);

}

.container {
    max-width: 1600px;
    margin: 0 auto;
    
}


.nav-parents{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.nav-parents .nav-menu {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-parents .nav-menu a {
    text-decoration: none;
    color: black;
}

.nav-menu a:hover {
    color: #30B868;
}

/* Button 1 Css  */
.btn-1 {
    background-color: #30B868;
    padding: 12px 16px;
    color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

.btn-1:hover {
    background-color: #000000;
}


/* Hero section Css */

.hero-section-parents {
    background-image: linear-gradient(rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.534)), url('../assets/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 674px;
}

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 32px;
    padding-top: 100px;
}

.hero-section .early-access-now-open {
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
    background-color: white;
    padding: 8px 14px;
    border-radius: 20px;
}

.hero-section h1 {
    color: white;
    font-size: 72px;
    font-weight: 700;
}

.hero-section h1 .h1-color {
    color: #30B868;
}

.hero-section p {
    color: white;
    font-size: 16px;
    line-height: 24px;
}

.hero-btn button{
    padding: 12px 16px;
    background-color: #30B868;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    margin: 9px;
  
}

.hero-btn .hero-btn-1:hover {
    background-color: #000000;
}

.hero-btn .hero-btn-two {
    background-color: transparent;
    border: 1px solid #ffffff;
    padding: 11px 15px;
    color: #ffffff;
    
}

.hero-btn .hero-btn-two:hover {
    background-color: #30B868;
}

/* Notes Section Css  */

.main-noets-section {
    padding: 100px 0;
}

.note-header {
    text-align: center;
}

.note-header h2 {
    font-size: 45px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 10px;
}

/* Common Paragraph  */

.note-header p , .note-card p, .brain-p, .early-access-p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(98, 115, 130, 1);
}

.note-card-parents{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 44px;
}
.note-card {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #30B868;
    max-width: 322px;
    height: 300px;
    gap: 16px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
}

.note-card img {
        width: 32px;
        height: 32px;        
}
.note-card .card-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: rgba(249, 85, 85, 1);
    border-radius: 50%;
}


/* Second Brain Section  */

.background-color{
    background-color: white;
    padding-bottom: 80px;
}

.second-brain-section {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 100px 0;
    background-color: white;
    margin-bottom: 100px;
}

.second-brain-section img {
    width: 600px;
    height: 600px;
    
    flex: 1;
}

.second-brain-header {
    max-width: 700px;
}


.green-text {
    color: #30B868;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    margin-bottom: 16px;
}

.second-brain-header h2 {
    font-size: 45px;
    font-weight: 700;
    color: #000000;
}

.brain-p {
    margin-top: 16px;
}


.brain-list {
    margin-top: 35px;
}

.brain-list p {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
}


/* early-access css  */
.early-access-parents {
    margin-bottom: 90px;
}
.early-access {
    margin: 0 auto;
    width: 1300px;
    background-color: #f7f6f2e7;
    border-radius: 12px;
    display: flex;
    gap: 24px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 70px 0;

}

.early-access h1{
    font-size: 42px;
    font-weight: 700;
   
}

.early-btn{
    padding: 16px 25px;
    background-color: #30B868;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin: 9px;
  
}

.early-btn:hover {
    background-color: #000000;
}

/* footer section css  */

footer {
    background-color: #001931;
}

.footer-parents {
    margin: 0 auto;
    width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0;
}

.social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.social-links p {
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}

.social-links a {
    padding: 0 5px;
    text-decoration: none;
}

.least-line {
    text-align: center;
    color: white;
    font-size: 16px;
    line-height: 24px;
    padding: 30px 0;
    font-weight: 400;
}